{% extends "base.html" %}
{% block content %}
<br>
<br>
<div class="container">
    <h4>About Watcher for reddit</h4>
    <br>

    <p>Watcher for reddit is designed to help you track threads, subreddits, and reddit users and notify you
    anytime there is an update to something that you are tracking. No need to bookmark pages only to go back and find
    no new content.  Watcher for reddit will keep an eye on reddit content for you and send a message to your reddit
    inbox if there is an update. You can choose to have Watcher for reddit notify you on a weekly, daily, or hourly
    basis.
    <br>
    <br>
    <b>Watch a thread -</b> Perfect for keeping track of smaller subreddit comment threads. Track a thread and get
        notified if there are any new comments.  Watcher for reddit will even keep track of updates to the original post
        text or check to see if the thread is archived.
    </p>
    <br>
    <br>
    <b>Watch a subreddit -</b> Track a small or speciality subreddit and get notified when there are new submissions.

    </p>
    <br>
    <br>
    <b>Watch a user -</b> Keep an eye on a celebrity or a friend.  Receive a notification when a user posts new comments
    or makes a submission.
    <br>
    <br>
    </p>
    <b>Suggestions?</b> Watcher for reddit is a small one person side project. Please reach out to me with any comments,
    suggestions, or recommendations.
    </p>

<br>
</div>
{% endblock content %}