<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-RpX8okQqCyUNG7PlOYNybyJXYTtGQH+7rIKiVvg1DLg6jahLEk47VvpUyS+E2/uJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/slate/bootstrap.css" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
           integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Watcher for reddit</title>
    </head>
        <nav class="navbar navbar-default">
             <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><small><span class="glyphicon glyphicon-search"</span></small> Watcher</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about/">About</a></li>
                    <li><a href="https://github.com/ericleepa/watcherforreddit/">Code</a></li>
                      <li><a href="https://www.reddit.com/message/compose/?to=ericleepa&subject=watcher">Contact</a></li>
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user}}
                          <span class="glyphicon glyphicon-cog"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="{% url 'mywatched' %}"><strong>My Watched List</strong></a></li>
                        <li><a href="/watchthread/">Watch a thread</a></li>
                        <li><a href="/watchsubreddit/">Watch a subreddit</a></li>
                        <li><a href="/watchuser/">Watch a reddit user </a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'logout' %}">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
                      </ul>
                    </li>
                    {% else %}
                      <li><a href="/signin/">Sign in with your reddit account <span class="glyphicon glyphicon-log-in"></span></a></li>
                    {% endif %}
                  </ul>
                </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    <footer>
    <div class= "navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="navbar-text pull-left">
        </div>
        <div class= "navbar-text pull-right">
        <!-- Add in your social media / github links here -->
            <a href="https://twitter.com/ericleepa">
                <i class="fa fa-twitter-square fa-2x"></i></a>
        </div>
        <!--Below is the copyright information for the site. You can fill in your own here.-->
        <div class="navbar-text pull-left">
            <p class="text-muted"> &copy; /u/ericleepa, 2017 </p>
        </div>
    </div>
    </footer>
    <body>
    {% block content %}
    {% endblock content %}
</html>